<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	xmlns:th="http://www.thymeleaf.org">
<head>
<title>Pizzeria Spring</title>
<link rel="stylesheet" th:href="@{/styles.css}" />
</head>
<body>
	<!--  Por defecto hace el submit del form a la URL actual. Como la actual es /ordenes/actual, incluimos el action para cambiar ese comportamiento y que lo haga a /ordenes-->
	<form method="POST" th:action="@{/ordenes}" th:object="${ordenPizza}">
		<h1>Ordene sus creaciones !!!</h1>
		<img th:src="@{/images/pizza.jpeg}" />
		
		<h3>Las pizzas de su orden:</h3>
		<a th:href="@{/design}" id="another">Diseñe otra pizza</a><br />
		
		<ul>
			<li th:each="pizza : ${ordenPizza.pizzas}"><span
				th:text="${pizza.nombre}">nombre de la pizza</span></li>
		</ul>

		<h3>Entregar las pizzas a ....</h3>

		<label for="nombrePersona">Nombre: </label>
		<input type="text" th:field="*{nombrePersona}" /> <br /> 
		
		<label for="direccion">Dirección: </label>
		<input type="text" th:field="*{direccion}" /> <br />
		
		<label for="ciudad">Ciudad: </label>
		<input type="text" th:field="*{ciudad}" /> <br /> 
		
		<label for="barrio">Barrio: </label>
		<input type="text" th:field="*{barrio}" /> <br />
		
		<h3>Info de su pago...</h3>
		<label for="nroTarjeta">Número de tarjeta: </label>
		<input type="text" th:field="*{nroTarjeta}" /> <br />
		
		<label for="fecVencimiento">Vencimiento:</label>
		<input type="text" th:field="*{fecVencimiento}" /> <br />
		<label for="codigoCVV">CVV: </label>
		<input type="text" th:field="*{codigoCVV}" /> <br /> 
		
		<input type="submit" value="Confirmar orden" />
	</form>
</body>
</html>